 .image {
  transition: .5s ease;
 }

 .image div {
  transition: .3s ease;
  visibility: hidden;
  opacity: 0;
 }
 
 .image:hover {
    opacity: 0.3;
    transition: .5s ease;
    transform: scale(0.9);
  }
  
 .image:hover div {
  transition: .5s ease;
  visibility: visible;
  opacity: 1;
 }
  
  .text {
    color: gray;
    font-size: 27px;
    padding: 16px 32px;
  }

  .text:hover {
    transition: .5s ease;
    color: white;
  }